<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body {
            background-color: #8EC5FC;
            background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
        }
    </style>
</head>
<body class="flex items-center justify-center min-h-screen/78587">
    <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-md "> 
        <p class="text-2xl font-semibold mb-6 text-center text-indigo-500">User Registered Successfully</p>
    </div>
</body>
</html>